@model User

<style>

    .input-validation-error {
        border-color: red;
    }
</style>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form id="frmLogin" asp-action="Register" asp-controller="Home" asp-route-returnurl="" method="post" style="width:100%;">
    <div style="margin-top: 6%;margin-left: 40%;margin-right: 40%;width: auto;">
        <br />
        <br />
        <div class="form-group" style="display:none">
            @Html.HiddenFor(m => m.Id, new { Value = @Model.Id })
        </div>
        <div class="form-group">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" class="form-control" value="@Model.UserName" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" type="text" class="form-control" value="@Model.Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-control" value="@Model.Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Gender"></label><br />
            <label asp-for="Gender">Male</label> @Html.RadioButtonFor(m => @Model.Gender, "Male", @Model.Gender == "Male" ? new { @checked = "checked" } : null)
            <label asp-for="Gender">Female</label> @Html.RadioButtonFor(m => @Model.Gender, "Female", @Model.Gender == "Female" ? new { @checked = "checked" } : null)
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="City"></label>
            @Html.DropDownList("City", new List<SelectListItem>
            {
           new SelectListItem{ Text="Select City", Value = "" },
                new SelectListItem{ Text="New York", Value = "New York" },
                new SelectListItem{ Text="Washington", Value = "Washington" },
                new SelectListItem{ Text="Los Angeles", Value = "Los Angeles" },
                new SelectListItem{ Text="Denmark", Value = "Denmark" },
             }, new { @class = "form-control" })
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateOfBirth" class="control-label"></label>
            @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <button class="btn btn-primary" type="button" onclick=" location.href = '@Url.Action("Login", "Home")'">Cancle</button>
    </div>
</form>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css.map" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#DateOfBirth').datepicker();
    });
</script>
