@model User

@{
    Layout = "_Layout_Welcome";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div style="margin-left: 24%;margin-top: 11%;">
        <br />
        <br />

        <h6>Welcome: @Model.UserName</h6>
        <br />
        <div>
            <table id="tblUserDetails" width="800px" border="1">
                <thead>
                    <tr>
                        <td colspan="7" align="center">
                            User Details
                        </td>
                    </tr>
                </thead>
                <tr>
                    <td>Username</td>
                    <td>Email</td>
                    <td>Password</td>
                    <td>Gender</td>
                    <td>City</td>
                    <td>Date Of Birth</td>
                    <td>Edit UserDetails</td>
                </tr>
                <tr>
                    <td>@Model.UserName</td>
                    <td>@Model.Email</td>
                    <td>@Model.Password</td>
                    <td>@Model.Gender</td>
                    <td>@Model.City</td>
                    <td>@Model.DateOfBirth</td>
                    <td align="center"><input type="button" value="Edit" class="btn btn-default" onclick="location.href='@Url.Action("EditRegister", "Home", @Model)'" style="width:120px;height:40px" /></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style>
    div {
        width: 800px;
        background: none;
        border: 1px solid #000;
    }
</style>

<script>
    $(document).ready(function () {
        $("#tblUserDetails").effect("clip", "slow", callback);
    });

    function callback() {
        setTimeout(function () {
            $("#tblUserDetails").removeAttr("style").hide().fadeIn();
        }, 500);
    };
</script>
